<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style_add.css' %}">
    <title>Add User</title>
</head>
<body>
    <div id="container">
        <h1>Add a new user</h1>
        <form action="/add_user", method="POST">
            {% csrf_token %}
            <label for="first_name">First Name:</label><br>
            <input type="text" name="first_name"><br>
            <label for="last_name">Last Name:</label><br>
            <input type="text" name="last_name"><br>
            <label for="email">Email:</label><br>
            <input type="text" name="email"><br>
            <input type="submit" value="Submit"><br>
            <a href="/">Go Back</a><br>
        </form>
    </div><!-- end of container div -->
</body>
</html>