<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style_edit.css' %}">
    <title>Edit User</title>
</head>
<body>
    <div id="container">
        <h1>Edit</h1>
        <form action="/edit_user/{{user.id}}", method="POST">
            {% csrf_token %}
            <label for="first_name">First Name:</label><br>
            <input type="text" name="first_name" value={{user.first_name}}><br>
            <label for="last_name">Last Name:</label><br>
            <input type="text" name="last_name" value={{user.last_name}}><br>
            <label for="email">Email:</label><br>
            <input type="text" name="email" value={{user.email}}><br>
            <input type="submit" value="Update"><br>
            <a href="/">Go Back</a><br>
        </form>
    </div><!-- end of container div -->
</body>
</html>
