<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style_index.css' %}">
    <title>Users</title>
</head>
<body>
    <div id="container">
        <h1>Users</h1>
        <table>
            <thead>
                <th>id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <td><a href="/user/{{user.id}}">Show</a>  <a href="/edit/{{user.id}}">Edit</a>  <a href="/delete/{{user.id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="link" href="/add">Add a new user</a>
    </div><!-- end of container div -->
</body>
</html>