<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style_single.css' %}">
    <title>User</title>
</head>
<body>
    <div id="container">
        <h1>User {{user.user_id}}</h1>
        <p>Full Name: {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Created at: {{user.created_at}}</p>
        <a href="/edit/{{user.id}}">Edit</a> <span>|</span> <a href="/delete/{{user.id}}">Delete</a> <span>|</span> <a href="/">Back</a>
    </div>
</body>
</html>